---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/search?category_filter=danceclubs,bars,poolhalls,pianobars,beergardens&limit=20&location=Boston&term=Howl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="-Cb1yajNnIcLuAbIyK0PjQ", oauth_nonce="49824e2d46ac28463834b3899270ffd2",
        oauth_signature="Msdlw9BXPT2jce3n1w9s%2FcditUs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1465343121", oauth_token="l4R0n8Amw3sKnpG9tC6V0oe3O_NPgGD3",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Node:
      - api_com
      - web29-r6-iad1
      X-Mode:
      - ro
      X-Proxied:
      - extlb3-r8-iad1
    body:
      encoding: ASCII-8BIT
      string: '{"region": {"span": {"latitude_delta": 0.08841778000000033, "longitude_delta":
        0.06995265410131424}, "center": {"latitude": 42.346615799999995, "longitude":
        -71.08410333904484}}, "total": 15, "businesses": [{"is_claimed": true, "rating":
        3.0, "mobile_url": "http://m.yelp.com/biz/howl-at-the-moon-dueling-piano-bar-boston-2?utm_campaign=yelp_api\u0026utm_medium=api_v2_search\u0026utm_source=-Cb1yajNnIcLuAbIyK0PjQ",
        "rating_img_url": "https://s3-media3.fl.yelpcdn.com/assets/2/www/img/34bc8086841c/ico/stars/v1/stars_3.png",
        "review_count": 272, "name": "Howl At The Moon Dueling Piano Bar", "rating_img_url_small":
        "https://s3-media3.fl.yelpcdn.com/assets/2/www/img/902abeed0983/ico/stars/v1/stars_small_3.png",
        "url": "http://www.yelp.com/biz/howl-at-the-moon-dueling-piano-bar-boston-2?utm_campaign=yelp_api\u0026utm_medium=api_v2_search\u0026utm_source=-Cb1yajNnIcLuAbIyK0PjQ",
        "categories": [["Bars", "bars"], ["Music Venues", "musicvenues"]], "phone":
        "6172924695", "snippet_text": "If you are looking for an unexpected awesome
        time good here. \n\n\nI thought I was going to a normal bar but little did
        I know that downstairs that have a club...", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/gE_iBH9EtYJ9d9L6rWthMA/ms.jpg",
        "snippet_image_url": "http://s3-media4.fl.yelpcdn.com/photo/FkhETxmK84trl-YDLUOAUw/ms.jpg",
        "display_phone": "+1-617-292-4695", "rating_img_url_large": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/e8b5b79d37ed/ico/stars/v1/stars_large_3.png",
        "id": "howl-at-the-moon-dueling-piano-bar-boston-2", "is_closed": false, "location":
        {"cross_streets": "Leman Pl \u0026 Batterymarch St", "city": "Boston", "display_address":
        ["184 High St", "Financial District", "Boston, MA 02110"], "geo_accuracy":
        9.5, "neighborhoods": ["Financial District"], "postal_code": "02110", "country_code":
        "US", "address": ["184 High St"], "coordinate": {"latitude": 42.3565569, "longitude":
        -71.0523694}, "state_code": "MA"}}, {"is_claimed": false, "rating": 2.5, "mobile_url":
        "http://m.yelp.com/biz/down-ultra-lounge-boston?utm_campaign=yelp_api\u0026utm_medium=api_v2_search\u0026utm_source=-Cb1yajNnIcLuAbIyK0PjQ",
        "rating_img_url": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/c7fb9aff59f9/ico/stars/v1/stars_2_half.png",
        "review_count": 24, "name": "Down Ultra Lounge", "rating_img_url_small": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/8e8633e5f8f0/ico/stars/v1/stars_small[...]
