<div class="large-4 medium-6 small-12 columns">
  <div class="image-wrapper overlay-fade-in animated fadeInLeft">
    <%= link_to image_tag(venue.photo, alt: "#{venue.name} photo", class: "#{venue.name} photo"), venue_path(venue), id: venue.id %>

    <div class="panel">
      <div class="image-overlay-content">
        <h4><%= link_to venue.name, venue_path(venue) %></h4>
      </div>
      <p class="subheader">Yelp Rating: <%= venue.rating %></p>
      <% if @event != nil %>
        <%= button_to "Add to Your Event", venueselections_path, params: { event: @event, venue: venue }, id: venue.yelp_id %>
      <% end %>
    </div>
  </div>
</div>
