<div class="text-center">
  <div class="show-footer bg-img">
    <div class="floating-container">
      <div class="row title-header">
        <h1 class="animated fadeInDown">Boston Nightlife</h1>
      </div>
    </div>


    <%= render @venues %>
  </div>
</div>
