/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require animate.min
 *= require jquery-ui
 *= require foundation-icons
 *= require wickedpicker
 *= require webicons
 *= require font-awesome
 */
@import 'hover';

@import url(https://fonts.googleapis.com/css?family=Taviraj:400,700);

html, body, body > .page, .off-canvas-wrap { height:100%; }

.off-canvas-wrap { overflow-y: scroll; }

.inner-wrap { min-height: 100%; }

ul.off-canvas-list {
  li {
    color: white;
  }
}

.image-circular{
  border-radius: 50%;
  float: left;
}

.labelrow {
   position: absolute;
   bottom: 0%;
}

.columns {
   position: relative;
}

li.facebookhome {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  float: center;
  display: inline;

}
img.facebook-icon{
  margin: 0px;
  padding: 0px;
  display: inline;
}
ul.facebookhome {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#facebookhome.button {
  background-color: #324D8E;
  margin: 0px;
  display: inline;
  padding-top: 11px;

}

form.button_to {
  display: inline;
  margin: 0px;

}

#eventsshow {
    background-color: #666666;
    background-image: image-url("eventshowpage.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #d8d8d8;
    padding: 10%;
    text-align: center;
    position: relative;
    margin-left: 0px;
    // margin-bottom: 30px;
    width: 100%
}

#event-show-no-venues {
  background-color: white;
  background-image: image-url("eventshowpage.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}


div.alert-box {
  padding: 0px;
}
p.alert{
  margin: 0px;
}

p.notice {
  margin: 0px;
}

a#user-link{
  padding-bottom: 20px
}

div#menu-photo {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 2px;
    width: 65px;
}

.newsfeed-name-link {
  color: black;
}

.large-7.large-offset-2.medium-offset-3.medium-6.small-12.panel {
  height: 240px;
}


ul.contact li {
    display: inline-block;
}
ul.contact {
    list-style-type: none;
    text-align: center;
}
ul.contact a {
  font-size: 1.5rem;
  color: white;
  line-height: 2rem;
  text-align: center;
}


footer.footer {
  background-color: black;
}

.alert-box {
  margin: 0px;
}
.add-venue.button.expanded{
  width: 100%;
}

.venueinfo {
  margin-bottom: 0px;
  margin-left: 15px;
}

img.venue.photo{
  margin-bottom: 15px;
}
img.venue.photo.y {
  margin-bottom: 0px;
}

section.venueshowpage{
  margin-top: 0px;
  background-image: image-url("beaconhill.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 60px;
}

.venueshowimage{
  border-radius: 50%;
  height: 120px;
  width: 120px;

  position: absolute;
}

.venuetitle {
  color: white;
  margin-top: 0px;
}
ul.off-canvas-list li {
  label {
    color: white;
  }
  a {
    color: white;
  }
}

.title {
  font-family: 'Taviraj', serif;
}
.menue-photo {
  height: 55px;
  width: 55px;
}
