// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.arrow.up.small-3.medium-4.columns {
    padding: 0;
}

.eventbuttons {
  margin-right: 10px;
}
.small-1.medium-2.medium-push-2.large-push-3.event-delete.columns {
    padding: 0;
}

.red {
  color: #ff0000;
}
.event-date{
  padding-bottom: 10px;

}

.event-title h1{
  font-family: 'Proza Libre', sans-serif;
}

div.text-center.addnightlife{
  padding-top: 50px;

  input{
    margin-top: 50px;
  }
}

div.event-info {
  color: #ffffff;
  h1 {
    color: #ffffff;
  }
}
div.votes.row{
  margin-top: 10px;
}
img.event-venue-photo {
  resize: both;
  width:120px;
  height:110px;
}

.eventresponse.row{
  background-color: #007095;
  color: #ffffff;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: initial;
}

span.vote-sum{
  text-align: center;
}


li.mybutton {
  list-style-type: none;
  display: inline-block;
}
.vote-sum {
  margin: 0px;
}
.background-div {
  background-color: rgba(0, 0, 0, 0.62);
}

.text-center.event-info {
  margin-top: 50px;
}
.event-org-link{

}

#friend-invite span.twitter-typeahead{
  display: block;
}
.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }
