// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event-show-no-venues {
  background-color: white;
  background-image: image-url("eventshowpage.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

input#invite-friend {
   position:relative;
   left:-40px;
   top:10px;
}

form#invite-form {

}
