

body.home-page {
  background-color: white;
  background-image: image-url("unsplashedhomephoto.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}



h1.sitetitle {
  color: white;
  font-weight: bolder;
  padding-top: 30px;
  font-family: 'Taviraj', serif;
}
h3.sitetagline {
  color: white;
  font-weight: bold;
  font-family: 'Taviraj', serif;
}

#back {
  // background-color: rgba(0, 0, 0, 0.68);
  background-color: rgba(150, 82, 8, 0.68);
  padding-bottom: 20px;
  margin-top: 120px;
}
