// Place all the styles related to the newsfeed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsfeed-buttons {
  margin: 0;
  padding: 0;
  overflow: hidden;

    li {
      display: inline;
    }
}

#newsfeedrow {
  padding: 10px;
}
