// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profilepic{
  // border-radius: 50%;
  height: 120px;
  border: 2px solid white;
  padding: 1px;
}

.coverphoto {
  background-image: image-url("bostonNightlife.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
  padding: 35px;
}

.usersname {
  color: white;
}

div .friendsuserprofile {
  background-color: grey;
  height: 100%;
  width: 100%;
  color: white;
}

#friendcolumn {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
