// Place all the styles related to the venue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#search {
    display: block;
}

#search-button {
    position: absolute;
    right: 0px;
    top: -1px;
    margin: 0px;
    height: 2.4375rem;
    box-sizing: border-box;
    line-height: 1;
    vertical-align: middle;
    padding: 0.85em 1em;
}

img.venue.photo {
    height: 250px;
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 15px;
}

.venueinfo {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 100%
}

.venueinfo span {
  color: white;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 3.4px;
}

img.venue.photo {
    margin-bottom: 10px;
}
